* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.number-span {
  font-family: "Inconsolata", sans-serif;
  color: #3e4140;
  font-size: 17px;
}

.number-span-header {
  display: none;
  font-family: "Inconsolata", sans-serif;
  color: #7da2a9;
  font-size: 44px;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: #f7f7f7;
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #3e4140;
  width: 6px;
  border-radius: 20px;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 95rem;
  position: relative;
  overflow-x: hidden;
}

.navs {
  background-color: #f7f7f7;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

nav {
  width: 100vw;
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 0.2rem 3rem;
  background-color: #f7f7f7;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scroll-down .navs {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.scroll-up .navs {
  -webkit-filter: drop-shadow(0 -10px 20px black);
          filter: drop-shadow(0 -10px 20px black);
}

.logo {
  color: #7da2a9;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
  opacity: 0;
  padding-bottom: 20px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f7f7f7;
  padding-bottom: 15px;
  padding-top: 2px;
  z-index: 1000;
  position: relative;
}

.button-resume {
  background: #f7f7f7;
  border: 2px solid #7da2a9;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3e4140;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 11px;
  width: 100px;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-resume:hover,
.button-resume:active {
  background-color: #7da2a9;
  color: #f7f7f7;
}

.nav-links li {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  color: #f7f7f7;
  opacity: 0;
}

.nav-links li:hover {
  color: #3e4140;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-links a {
  color: #7da2a9;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #3e4140;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

.burger {
  display: none;
  cursor: pointer;
  opacity: 0;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #3e4140;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home_link {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.about_link {
  opacity: 0;
}

.project_link {
  opacity: 0;
}

.contact__link {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0.2rem 1rem;
  }
  .nav-links {
    position: absolute;
    z-index: 1000;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: #7da2a9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    overflow: hidden;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    color: #3e4140;
    font-size: 32px;
  }
  .nav-links li a:hover {
    color: #3e4140;
    font-size: 32px;
  }
  .number-span {
    display: none;
  }
  .burger {
    display: block;
    padding: 0.5rem;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.hero {
  background-color: #f7f7f7;
  margin-top: 6rem;
  max-width: 50rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.hero .hero__content {
  overflow-y: hidden;
  position: relative;
  z-index: -1;
}

.hero .hero__content .hero__intro {
  font-family: "Inconsolata", sans-serif;
  color: #3e4140;
  opacity: 0;
  font-size: 22px;
  padding-left: 4px;
  padding-bottom: 0.5rem;
}

.hero .hero__content .hero__content--firstname {
  overflow-y: hidden;
  color: #7da2a9;
  padding-bottom: 0.5rem;
  font-size: clamp(20px, 10vw, 80px);
  padding-top: 1rem;
  opacity: 0;
}

.hero .hero__content .hero__content--header {
  color: #3e4140;
  max-width: 60rem;
  overflow: hidden;
  font-size: clamp(30px, 5vw, 60px);
  opacity: 0;
}

.hero .hero__content .hero__content--paragraph {
  color: #3e4140;
  max-width: 30rem;
  line-height: 1.5rem;
  font-size: 14px;
  opacity: 0;
}

.hero .hero__content .button-24 {
  background: #f7f7f7;
  border: 2px solid #7da2a9;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3e4140;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  width: 200px;
  height: 40px;
  outline: 0;
  padding: 5px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  margin: 2rem 0 0 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  z-index: 9999;
  opacity: 0;
}

.hero .hero__content .button-24:hover,
.hero .hero__content .button-24:active {
  background-color: #7da2a9;
  color: #f7f7f7;
}

.hero .hero__content .button-24:active {
  opacity: 0.5;
}

@media screen and (min-width: 0px) {
  .hero {
    max-width: 25rem;
    padding-top: 3rem;
  }
  .hero__content--paragraph {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .hero {
    max-width: 60rem;
    position: relative;
    z-index: 1;
  }
  .hero__content {
    padding-top: 0.5rem;
    margin-left: 2rem;
    position: relative;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .hero__content {
    margin-top: 0.5rem;
    margin-left: 3rem;
  }
  .hero__content--firstname {
    padding: 0.5rem 0 0.5rem 0;
    line-height: 3rem;
  }
  .hero__content--header {
    padding: 1rem 0 0.5rem 0;
    line-height: 4rem;
  }
  .hero__content--paragraph {
    padding: 1rem 0 0 0;
    line-height: 4rem;
  }
  .number-span-header {
    display: inline-block;
    font-family: "Inconsolata", sans-serif;
    color: #3e4140;
    font-size: 34px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 8em;
  }
  .hero {
    max-width: 80rem;
  }
  .hero__content {
    padding-top: 4rem;
  }
  .hero__content--header {
    line-height: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 12em;
  }
  .hero {
    max-width: 100rem;
  }
  .hero__content {
    margin-left: 5rem;
    margin-top: 0.5rem;
  }
  .hero__content--header {
    line-height: 5rem;
  }
}

@media screen and (min-width: 1600px) {
  .hero__content {
    margin-top: 8rem;
  }
}

.about__header {
  margin-top: 14rem;
}

.about__grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__col--1 {
  margin: 0 auto;
  color: #3e4140;
  overflow: hidden;
  font-size: 14px;
}

.about__col--1 h3 {
  padding: 1rem 0;
  color: #7da2a9;
  font-size: 18px;
}

.about__col--2 {
  margin: 0 auto;
  color: #3e4140;
  font-size: 14px;
}

.about__image__container {
  max-width: 22rem;
  overflow: hidden;
  border: 2px solid #7da2a9;
  border-radius: 20px;
  margin-top: 4rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about__image__container .about__image {
  height: auto;
  display: block;
  max-width: 100%;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__header h3 {
  font-size: 36px;
  color: #7da2a9;
  position: relative;
}

.about__header .title__line {
  height: 1px;
  min-width: 4rem;
  max-width: 12rem;
  background-color: #3e4140;
  margin: 25px 0px 0px 30px;
}

.about__content {
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.about__content p {
  margin-top: 1.2rem;
  color: #3e4140;
  line-height: 1.5rem;
  padding-right: 0.5rem;
}

.technologies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3e4140;
  margin: 0 auto;
  padding-bottom: 2rem;
  white-space: no-wrap;
}

.technologies-1 {
  line-height: 1.5rem;
  padding-right: 20px;
}

.technologies-1 ul {
  list-style-type: circle #7da2a9;
  list-style-position: inside;
}

.technologies-1 ul ::marker {
  color: #7da2a9;
}

.technologies-1 ul li {
  position: relative;
  left: -10px;
  font-size: 0.8rem;
  padding-left: 0.8rem;
}

.technologies-2 {
  line-height: 1.5rem;
  padding-right: 20px;
}

.technologies-2 ul {
  color: #3e4140;
  list-style-type: circle #7da2a9;
  list-style-position: inside;
  white-space: no-wrap;
}

.technologies-2 ul ::marker {
  color: #7da2a9;
}

.technologies-2 ul li {
  position: relative;
  left: -8px;
  font-size: 0.8rem;
}

.technologies-3 {
  line-height: 1.5rem;
}

.technologies-3 ul {
  color: #3e4140;
  list-style-type: circle #7da2a9;
  list-style-position: inside;
}

.technologies-3 ul ::marker {
  color: #7da2a9;
}

.technologies-3 ul li {
  position: relative;
  left: -8px;
  font-size: 0.8rem;
}

@media screen and (min-width: 576px) {
  .about {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin-left: 1rem;
  }
  .about__grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .about__header {
    padding-left: 0;
  }
  .about__col--1 {
    max-width: 30rem;
    padding-right: 2rem;
  }
  .about__image__container {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .about__col--1 {
    max-width: 38rem;
    padding-right: 3rem;
  }
  .about__col--2 {
    min-width: 15rem;
  }
  .about__image__container {
    max-width: 18rem;
  }
}

@media screen and (min-width: 1400px) {
  .about__header {
    padding: 0 3rem;
  }
}

.featured {
  margin-top: 10rem;
}

.featured h3 {
  color: #7da2a9;
  text-align: center;
  font-size: 36px;
}

.featured p {
  color: #3e4140;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  padding-top: 0.5rem;
}

.featured__sub__header {
  padding-bottom: 2rem;
}

.featured__container {
  color: #3e4140;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 60rem;
  margin: 6rem auto;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__container h5 {
  font-family: "Inconsolata", sans-serif;
  font-size: 18px;
  color: #3e4140;
}

.span {
  color: #7da2a9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
}

.span:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #7da2a9;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.span:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.featured__img {
  width: 21rem;
  height: 20rem;
  border-radius: 5px;
  border: 2px solid #7da2a9;
  margin: 2rem;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  z-index: -50;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.featured__img img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.img1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 162, 169, 0.5)), to(rgba(125, 162, 169, 0.5))), url(../assets/crypti.png);
  background: linear-gradient(rgba(125, 162, 169, 0.5), rgba(125, 162, 169, 0.5) 100%), url(../assets/crypti.png);
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img1:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  z-index: -4;
  background: url(../assets/crypti.png);
  background-size: cover;
}

.featured__content__container {
  position: absolute;
  max-width: 30rem;
  left: 1rem;
  z-index: 9999;
}

.featured__content {
  border-radius: 10px;
  padding: 1.5rem 0.25rem 0rem 0.25rem;
  z-index: 1000;
  margin-right: 1rem;
}

.featured__content .project__span {
  font-family: "Inconsolata", sans-serif;
  text-align: end;
  font-size: 14px;
  color: #7da2a9;
  display: none;
}

.featured__content h1 {
  color: #f7f7f7;
  margin-top: 0.8rem;
  font-size: 24px;
  padding-bottom: 1rem;
}

.featured__content p {
  line-height: 1.4rem;
  font-size: 12px;
  background-color: #f7f7f7;
  border: 1px solid #7da2a9;
  border-radius: 2px;
  text-align: start;
  padding: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feature__technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature__technologies ul {
  display: none;
}

.feature__technologies ul li {
  display: none;
}

.feature__technologies ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  text-decoration: none;
  list-style: none;
}

.feature__technologies ol li {
  margin-right: 1rem;
  text-decoration: none;
  list-style: none;
  color: #3e4140;
}

.featured__icon {
  color: #f7f7f7;
  font-size: 1.3rem;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.featured__icon:hover {
  color: #3e4140;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 576px) {
  .featured__container {
    display: block;
  }
  .featured__img {
    width: 28rem;
    height: 18rem;
  }
  .featured__content__container {
    position: absolute;
    max-width: 40rem;
    top: 1rem;
    left: 5rem;
  }
  .featured__content {
    padding: 0;
  }
  .featured__content p {
    line-height: 1.4rem;
    font-size: 12px;
    padding: 15px;
    max-width: 40rem;
  }
  .featured__content {
    border-radius: 10px;
  }
  .featured__content h1 {
    color: #3e4140;
    margin-top: 0.4rem;
    padding-bottom: 0.5rem;
  }
  .featured__content p {
    line-height: 1.4rem;
    font-size: 14px;
    background-color: none;
    border-radius: 2px;
  }
  .featured__icon {
    color: #7da2a9;
    font-size: 1.3rem;
    margin-right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .featured__icon:hover {
    color: #3e4140;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .featured__img {
    width: 28rem;
    height: 18rem;
  }
  .featured__content__container {
    position: absolute;
    max-width: 70rem;
    top: 1.5rem;
    left: 18rem;
  }
  .featured__content {
    padding-top: 2rem;
  }
  .featured__content h1 {
    text-align: end;
  }
  .featured__content .feature__technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured__content .feature__technologies ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .featured__content .feature__technologies ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    text-decoration: none;
    list-style: none;
    text-align: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .featured__content .feature__technologies ol li {
    margin-right: 0rem;
    margin-left: 1.5rem;
    text-decoration: none;
    list-style: none;
    color: #7da2a9;
    text-align: end;
  }
}

@media screen and (min-width: 992px) {
  .featured__content {
    padding-top: 0rem;
  }
  .featured__img {
    width: 36rem;
    height: 19rem;
  }
  .featured__content__container {
    position: absolute;
    top: 2.5rem;
    left: 24rem;
  }
  .feature__technologies ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  .feature__technologies ul li {
    display: block;
    margin-left: 2rem;
    font-size: 14px;
    color: #3e4140;
    text-decoration: none;
    list-style: none;
  }
  .feature__technologies ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  .feature__technologies ol li {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .featured__content__container {
    top: 3rem;
  }
}

.featured__container--2 {
  color: #3e4140;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__img--2 {
  width: 21rem;
  height: 20rem;
  margin: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: right;
}

.featured__img--2 img {
  width: 100%;
  height: auto;
}

.featured__img--2:hover {
  background: url(../assets/todo.png);
  -webkit-transform: scale(105%);
          transform: scale(105%);
  z-index: -4;
  background-size: cover;
}

.img2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 162, 169, 0.5)), to(rgba(125, 162, 169, 0.5))), url(../assets/todo.png);
  background: linear-gradient(rgba(125, 162, 169, 0.5), rgba(125, 162, 169, 0.5) 100%), url(../assets/todo.png);
  background-size: cover;
}

.img2:hover {
  background: url(../assets/todo.png);
  background-size: cover;
}

.img4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 162, 169, 0.5)), to(rgba(125, 162, 169, 0.5))), url(../assets/dstv.jpg);
  background: linear-gradient(rgba(125, 162, 169, 0.5), rgba(125, 162, 169, 0.5) 100%), url(../assets/dstv.jpg);
  background-size: cover;
}

.img4:hover {
  background: url(../assets/dstv.jpg);
  background-size: cover;
}

.featured__content__container--2 {
  position: absolute;
  max-width: 30rem;
  top: 2rem;
  left: 0rem;
  z-index: 999;
}

.featured__content--2 {
  border-radius: 10px;
  padding: 0rem 1rem 0rem 1rem;
  margin-top: 1rem;
  z-index: 100;
}

.featured__content--2 .project__span {
  font-family: "Inconsolata", sans-serif;
  font-size: 14px;
  color: #7da2a9;
  display: none;
}

.featured__content--2 h1 {
  color: #f7f7f7;
  margin-top: 0.4rem;
  padding-bottom: 0.5rem;
  font-size: 24px;
}

.featured__content--2 p {
  line-height: 1.4rem;
  font-size: 12px;
  background-color: #f7f7f7;
  border: 1px solid #7da2a9;
  border-radius: 2px;
  text-align: start;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feature__technologies--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature__technologies--2 ul {
  display: none;
}

.feature__technologies--2 ul li {
  display: none;
}

.feature__technologies--2 ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.feature__technologies--2 ol li {
  margin-right: 1rem;
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width: 576px) {
  .featured__container--2 {
    display: block;
  }
  .featured__img--2 {
    width: 28rem;
    height: 18rem;
    z-index: 2;
  }
  .featured__content__container--2 {
    position: absolute;
    max-width: 40rem;
    right: 5rem;
  }
  .featured__content--2 {
    margin-top: 2rem;
  }
  .featured__content--2 p {
    line-height: 1.4rem;
    font-size: 14px;
    padding: 15px;
    border-radius: 2px;
    max-width: 40rem;
  }
  .featured__content--2 {
    border-radius: 10px;
    padding: 1rem;
  }
  .featured__content--2 h1 {
    color: #3e4140;
    margin-top: 0.4rem;
    padding-bottom: 0.5rem;
  }
  .featured__content--2 p {
    line-height: 1.4rem;
    font-size: 14px;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .featured__img--2 {
    width: 28rem;
    height: 18rem;
  }
  .featured__content__container--2 {
    position: absolute;
    max-width: 70rem;
    top: 1.5rem;
    right: 20rem;
  }
  .featured__content--2 {
    margin-top: 0;
  }
  .featured__content--2 h1 {
    color: #3e4140;
    margin-top: 0.4rem;
    padding-bottom: 0.5rem;
  }
  .featured__content--2 p {
    line-height: 1.4rem;
    font-size: 14px;
    border-radius: 2px;
  }
}

@media screen and (min-width: 992px) {
  .featured__img--2 {
    width: 36rem;
    height: 19rem;
  }
  .featured__content__container--2 {
    position: absolute;
    max-width: 100rem;
    top: 2.5rem;
    right: 27rem;
  }
  .feature__technologies--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feature__technologies--2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  .feature__technologies--2 ul li {
    display: block;
    margin-right: 2rem;
    font-size: 14px;
    color: #3e4140;
  }
  .feature__technologies--2 ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  .feature__technologies--2 ol li {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .featured__content__container--2 {
    top: 3rem;
  }
}

.feature__img--3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 162, 169, 0.5)), to(rgba(125, 162, 169, 0.5))), url(../assets/fibrs.png);
  background: linear-gradient(rgba(125, 162, 169, 0.5), rgba(125, 162, 169, 0.5) 100%), url(../assets/fibrs.png);
  background-size: cover;
  background-position: center center;
}

.feature__img--3:hover {
  background: url(../assets/fibrs.png);
  -webkit-transform: scale(105%);
          transform: scale(105%);
  z-index: -4;
  background-size: cover;
  background-position: center center;
}

form {
  background: #f7f7f7;
  width: 60rem;
  margin: 0 auto 4rem auto;
  max-width: 97%;
  border-radius: 4px;
  border: 2px solid #7da2a9;
  padding: 30px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8rem auto 1rem auto;
  max-width: 60rem;
}

.title h2 {
  color: #7da2a9;
  font-size: 2rem;
  display: inline;
  font-size: 36px;
}

.title p {
  padding-top: 1rem;
  line-height: 1.5rem;
  font-size: 14px;
}

.title p {
  color: #3e4140;
  margin-bottom: 2rem;
  max-width: 30rem;
}

form .half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .half .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  width: 42%;
}

form label {
  display: block;
  font-size: 1.2rem;
  color: #3e4140;
  margin-bottom: 8px;
  font-weight: bold;
}

form .half .item input {
  border-radius: 4px;
  border: 2px solid #f7f7f7;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 38px;
  background: transparent;
  font-size: 14px;
  border: 2px solid #7da2a9;
  color: #3e4140;
  font-family: "Poppins", sans-serif;
}

form .half .item input::-moz-selection {
  background: #7da2a9;
}

form .half .item input::selection {
  background: #7da2a9;
}

form .full {
  margin-bottom: 24px;
}

form .full textarea {
  background: transparent;
  border-radius: 4px;
  border: 2px solid #f7f7f7;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 150px;
  font-size: 14px;
  color: #3e4140;
  font-weight: 500;
  border: 2px solid #7da2a9;
  font-family: "Poppins", sans-serif;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"]:hover {
  background-color: #7da2a9;
  color: #f7f7f7;
}

form .action input[type="reset"]:hover {
  background-color: #7da2a9;
  color: #f7f7f7;
}

form .action input[type="submit"] {
  background: #f7f7f7;
  color: #3e4140;
  border-radius: 6px;
  width: 150px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #7da2a9;
}

form .action input[type="reset"] {
  background: #f7f7f7;
  color: #3e4140;
  border-radius: 6px;
  width: 150px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #7da2a9;
}

.recaptcha {
  padding-bottom: 12px;
  overflow-y: hidden;
}

.recaptcha div {
  overflow-y: hidden;
}

@media (max-width: 768px) {
  form .half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .half .item {
    width: 100%;
  }
  form .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .action input {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  form {
    padding: 30px 38px;
  }
}

.socail {
  position: fixed;
  bottom: 6rem;
  left: 2.5rem;
}

.socails {
  opacity: 0;
}

.socails li {
  height: 2.5rem;
  width: 3rem;
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0;
  display: none;
}

.socails li i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  color: #7da2a9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socails li i:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #3e4140;
}

.lines {
  position: fixed;
  height: 80px;
  width: 2px;
  background-color: #7da2a9;
  bottom: 0rem;
  left: 4rem;
  display: none;
}

.lines2 {
  position: fixed;
  height: 80px;
  width: 2px;
  background-color: #7da2a9;
  bottom: 0rem;
  right: 4rem;
  display: none;
}

.email {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: fixed;
  background-color: #7da2a9;
  bottom: 12rem;
  right: -2.4rem;
  background-color: transparent;
  color: #7da2a9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
}

.email:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #3e4140;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 992px) {
  .socails li {
    display: block;
  }
  .lines,
  .lines2,
  .email {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */