* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f2830;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 80rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  padding: 0em 1em;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}

.logo {
  color: #00d37f;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: #00d37f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  z-index: 1;
  font-size: 5em;
  font-weight: 700;
}

.nav-links li {
  list-style: none;
  opacity: 0;
  color: #014751;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #00d37f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 992px) {
  nav {
    margin: 0 3rem;
  }
}

.hero {
  height: 80vh;
  background-color: #0f2830;
  margin-top: 10rem;
  max-width: 50rem;
}

.hero .hero__content {
  overflow-y: hidden;
}

.hero .hero__content .hero__content--firstname,
.hero .hero__content .hero__content--surname {
  font-size: 4rem;
  line-height: 4rem;
  overflow-y: hidden;
  color: #00d37f;
  letter-spacing: 0.8rem;
}

.hero .hero__content .hero__content--paragraph {
  font-size: 1.7rem;
  color: #ffeeb4;
  padding: 1rem 0;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.hero .hero__content p {
  color: white;
}

.hero .hero__content .button-24 {
  background: #00d37f;
  border: 1px solid #00d37f;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #014751;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  margin: 1em 0;
}

.hero .hero__content .button-24:hover,
.hero .hero__content .button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #00d37f;
}

.hero .hero__content .button-24:active {
  opacity: .5;
}

@media screen and (min-width: 576px) {
  .hero {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin-left: 4rem;
  }
}

.about__grid {
  max-width: 50rem;
  margin-bottom: 15rem;
}

.about__header {
  font-size: 2rem;
  display: inline;
  border-bottom: 2px solid #ffeeb4;
  color: #00d37f;
  position: relative;
}

.about__content p {
  margin-top: 3rem;
  color: white;
}

@media screen and (min-width: 576px) {
  .about__grid {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .about__grid {
    margin-left: 4rem;
  }
}

.technologies {
  max-width: 50rem;
  margin-left: 7rem;
}

.technology__content h3 {
  font-size: 2rem;
  display: inline;
  border-bottom: 2px solid #ffeeb4;
  color: #00d37f;
}

.technology__content p {
  margin-top: 3rem;
  color: white;
}

.technology__icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0;
}

.technology__icons ul li i {
  color: white;
  font-size: 3rem;
}

.project__title {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.project__title h3 {
  color: #00d37f;
  font-size: 2rem;
  display: inline;
  border-bottom: 2px solid #ffeeb4;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects h3 {
  color: #00d37f;
  margin: 1em 0;
}

.project {
  color: white;
  min-height: 300px;
  min-width: 200px;
  border: 2px solid #014751;
  border-radius: 5px;
  padding: 1.5em;
  margin: 1rem 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.project .project__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .project__header h4 {
  font-size: 1.2rem;
}

.project .project__header i {
  font-size: 1.8rem;
  color: #d2c4fb;
}

.project .project__header i:hover {
  cursor: pointer;
  color: #6e5494;
}

.project h4 {
  color: #ffeeb4;
  margin-bottom: 3rem;
}

.project__technologies {
  margin-top: 5em;
  width: 70%;
}

.project__technologies ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: circle white;
  list-style-position: inside;
}

.project__technologies ul ::marker {
  color: #ffeeb4;
}

.project__technologies ul li span {
  position: relative;
  left: -10px;
  font-size: 0.8rem;
}

@media screen and (min-width: 576px) {
  .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects .project {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project {
    max-width: 200px;
  }
}

@media screen and (min-width: 992px) {
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

form {
  background: #00d37f;
  width: 40rem;
  margin: 2rem auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

.title {
  margin-top: 15rem;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title h2 {
  color: #00d37f;
  font-size: 2rem;
  display: inline;
  border-bottom: 2px solid #ffeeb4;
}

.title p {
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 30rem;
}

form .half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .half .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  width: 42%;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full textarea {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 1rem;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"] {
  background: white;
}

form .icons a {
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
  color: black;
}

@media (max-width: 768px) {
  form .half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .half .item {
    width: 100%;
  }
  form .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .action input {
    margin-bottom: 10px;
  }
}

.socail {
  position: fixed;
  bottom: 5rem;
  left: 1rem;
}

.socails li {
  height: 3rem;
  width: 3rem;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}

.socails li i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: #d2c4fb;
}
/*# sourceMappingURL=main.css.map */